<h1>Editing user</h1>

<%= render 'form' %>

<% @user.courses.each do |c| %>
	<li>
		<%= link_to "Edit #{c.name}", edit_user_course_path(c.user_id, c.id)  %>
		<td><%= link_to 'Delete Course', c, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</li>
<% end %>
 
<h4>Add a course:</h4>
<%= form_for([@user, @user.courses.build], :html=> {:multipart=>true}) do |f| %>
	
	<% @course = @user.courses.new %>
	<%= render :partial => "courses/form" %>

<% end %>

<%= link_to 'Display User', @user %> |
<%= link_to 'Dispay All Users', users_path %>
