<h1>Editing user</h1>

<%= render 'form' %>
Discard changes and:
<%= link_to 'Display User', @user %> |
<%= link_to 'Dispay All Users', users_path %>

<div id="list_course">
  <h4 class="box_title">Your Courses:</h4>
  <div class="box_content">
      <% @user.courses.each do |c| %>
        <li>
            <%= c.name.to_s%>:
            <%= link_to "Edit (modify roster)", edit_user_course_path(c.user_id, c.id) %> |
            <td><%= link_to 'Delete Course', c, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </li>
      <% end %>
  </div>
</div>


<div id="add_course">
  <h4 class="box_title">Add a course:</h4>
  <div class="box_content">
    <%= form_for([@user, @user.courses.build], :html=> {:multipart=>true}) do |f| %>

      <% @course = @user.courses.new %>
      <%= render :partial => "courses/form" %>

    <% end %>
  </div>
</div>


