<p id="notice"><%= notice %></p>

  <strong><h2>User: <%= @user.name %></h2></strong>
<p>
	<strong><h3>Courses:</h3></strong>
		<% @user.courses.each do |course| %>
			<div class="course">
        <%= course.name %><br>
        &nbsp; &nbsp; &nbsp;
        <%= link_to 'Edit Course', edit_user_course_path(course.user_id, course.id)%> |
        <%= link_to 'Open Student Selector', course%><br>
        &nbsp; &nbsp; &nbsp;
        <a href="#" id="display_students-<%=course.id%>" class = "student_collapser">Toggle Student List</a><br>
        <ul id="student_list-<%=course.id%>" style="display:none">
            <% course.students.sort { |a,b| a.name <=> b.name }.each do |student| %>
              <li><%= student.name %></li>
            <% end %>
        </ul>
			</div>

		<% end %>
</p>	
<%= link_to 'Edit User(add/remove courses)', edit_user_path(@user) %> |
<%= link_to 'Show Users', users_path %>


<script type = "text/javascript">
	$(".student_collapser").click(function(e){
		e.preventDefault();
		var course_id = $(this).attr("id").split("-")[1];
		$("#student_list-"+course_id).slideToggle();
	})
</script>