<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<h4>Courses</h4>
<% @user.courses.each do |course| %>
	<p>
		<strong>Course:</strong>
		<%= course.name %>
	</p>
<% end %>

<h4>Add a course:</h4>
<%= form_for @user do |f| %>
	<%= f.fields_for :courses do |course_builder| %>
		<%= course_builder.label :name %><br>
		<%= course_builder.text_field :name %>
	<% end %>
	<p>
		<%= f.submit %>
	</p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
