<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
<strong>Courses:</strong><br>
	<% @user.courses.each do |course| %>
		<%= course.name %>
		<%= link_to 'Edit', edit_user_course_path(course.user_id, course.id)%>
		<%= link_to 'Show', course%><br>
		<body>Students:
			<%= course.student_list %><br>
		</body>
		<br>
	<% end %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
