<h1>Listing courses_students</h1>

<table>
  <thead>
    <tr>
      <th>Courses</th>
      <th>Students</th>
      <th>Answered</th>
      <th>Passed</th>
      <th>Absent</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses_students.each do |courses_student| %>
      <tr>
        <td><%= courses_student.courses %></td>
        <td><%= courses_student.students %></td>
        <td><%= courses_student.answered %></td>
        <td><%= courses_student.passed %></td>
        <td><%= courses_student.absent %></td>
        <td><%= courses_student.note %></td>
        <td><%= link_to 'Show', courses_student %></td>
        <td><%= link_to 'Edit', edit_courses_student_path(courses_student) %></td>
        <td><%= link_to 'Destroy', courses_student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Courses student', new_courses_student_path %>
