
<%= form_for(@course, :html=> {:multipart=>true, :'data-ajax'=>false} ) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>
      <ul>
        <% @course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>


  <%= f.hidden_field :user_id, :value => current_user.id %>


  <div class="field">
    <%= f.label :student_list, "Upload Student Roster" %>
    <%= f.file_field :student_list %>

    <p id="warning_text">
      Files must be in <strong>.csv</strong> format, no other excel files
      <br>A roster <strong>must</strong> be uploaded currently, make sure to select a file<br>
      Roster upload may take <strong>~1-2 minutes</strong>, the page is not frozen
    </p>
  </div>

  <div class="actions" id="course_submit">
      <%= f.submit :id => "course_submit_button" %>
  </div>
<% end %>



<script type="text/javascript">
  $(document).ready(function() {
      $("#edit_course_<%=@course.id%>, #new_course").submit(function(e){
        $("#course_submit_button").prop('disabled', true);
      })
  })
  $(document).ajaxComplete(function(event, jqXHR, ajaxOptions){
    if (jqXHR.status != 200){
      //Replace the form html with form html from server with the validation errors and styling on the fields
      try{
        replace_new_course_form(jqXHR.responseText);
      } catch(err){}
    }
  });
</script>
