<%= form_for(@course, :html=> {:multipart=>true}) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>
      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  </div>

  <div class="field">
    <%= f.label :student_list, "Upload Student Roster" %><br>
    <%= f.file_field :student_list %>

    <p id="warning_text">
        Files must be in <strong>.csv</strong> format, no other excel files
        <br>A roster <strong>must</strong> be uploaded currently, make sure to select a file<br>
        Roster upload may take <strong>~1-2 minutes</strong>, the page is not frozen
    </p>
  </div>

  <div class="actions" id="course_submit">
    <%= f.submit :id => "course_submit_button" %>
  </div>
  <% end %>

  <script type="text/javascript">
    $(document).ready(function() {
        $("#edit_course_<%=@course.id%>, #new_course").submit(function(e){
          $("#course_submit_button").prop('disabled', true);
        })
    })
  </script>
