<h2 class="title">Showing Course: <%= @course.name %></h2>
<a href="#" id="random_student_selector">Select Student at Random</a>
<p id="selected_student" style="visibility:hidden;"></p>

<div id="buttons" style="visibility:hidden;">
    <button type="button" id="answer" class="pure-button pure-button-active" style="background: rgb(28, 184, 65); border-radius: 4px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);">Question Answered</button>
    <button type="button" id="pass" class="pure-button pure-button-active" style="background: rgb(202, 60, 60)">Student Passed</button>
    <button type="button" id="absent" class="pure-button pure-button-active" style="background: rgb(66, 184, 221)">Student Absent</button>
</div>
<% student_array = Array.new %>
<a href="#" id="toggle_student_list">Toggle Student List</a><br>
<div id= "student_list" style="float:left">
    <table id="student_info" class="display" cellspacing="0" width="30%" text-align="center">
        <thead>
        <tr>
            <th>Student Name</th>
            <th style="color:rgb(28, 184, 65)">Answered</th>
            <th style="color:rgb(202, 60, 60)">Passed</th>
            <th style="color:rgb(66, 184, 221)">Absent</th>
        </tr>
        </thead>
        <tbody>
        <% @course.students.each do |student| %>
          <tr>
              <td><%=student.name%></td>
              <% student_array.push({:name => student.name, :SID => student.sid, :id => student.id}) %>
              <td id="<%=student.name%>_answer"><%=student.courses_student.where(:courses_id => @course.id).first.answered%></td>
              <td id="<%=student.name%>_pass"><%=student.courses_student.where(:courses_id => @course.id).first.passed%></td>
              <td id="<%=student.name%>_absent"><%=student.courses_student.where(:courses_id => @course.id).first.absent%></td>
          </tr>
        <% end %>
        </tbody>
    </table>

</div>
<br style="clear:both">
<%= link_to 'Edit Roster', edit_course_path %>
<%= link_to 'User Page', user_path(@course.user_id) %>


<script type="text/javascript">
	var oTable = null;
	$(document).ready(function() {
		var student = null;
		function initTable()
		{
			oTable = $('#student_info').DataTable({
				"paging": false,
				"scrollY": "400px",
	        	"scrollCollapse": true,
			});
		}
		initTable();
		$.ajaxSetup({
  			headers: {
    			'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
  			}
		});
		$("#toggle_student_list").click(function(e){
			e.preventDefault();
			$("#student_list").slideToggle();
		})
		$("#random_student_selector").click(function(e){
			e.preventDefault();
			var student_list = <%= raw student_array.to_json %>;
			console.log(student_list);
			student = student_list[Math.floor(Math.random()*student_list.length)];
			console.log(student);
			$("#selected_student").text(student.name);
			$("#selected_student").css('visibility','visible');
			$("#buttons").css('visibility','visible');
		})
		$("#answer").click(function(e){
			//console.log("test")
			e.preventDefault();
			$.ajax({
	  			type: "POST",
	  			url: "<%= answer_course_path(@course.id) %>",
	  			data: {student:student},
	  			success: function(data){
	  				$("#"+data["name"]+"_answer").html(data["value"])
	  				console.log(data)
	  				location.reload()
	  			},
	  			dataType: "json",
	  			async: "false"
			});
			$("#buttons").css('visibility','hidden');
			$("#selected_student").css('visibility','hidden');
		})
		$("#absent").click(function(e){
			e.preventDefault();
			$.ajax({
	  			type: "POST",
	  			url: "<%= absent_course_path(@course.id) %>",
	  			data: {student:student},
	  			success: function(data){
	  				$("#"+data["name"]+"_absent").html(data["value"])
	  				console.log(data)
	  				location.reload()
	  			},
	  			dataType: "json"
			});
			$("#buttons").css('visibility','hidden');
			$("#selected_student").css('visibility','hidden');
			
		})
		$("#pass").click(function(e){
			e.preventDefault();
			$.ajax({
	  			type: "POST",
	  			url: "<%= pass_course_path(@course.id) %>",
	  			data: {student:student},
	  			success: function(data){
	  				$("#"+data["name"]+"_pass").html(data["value"])
	  				console.log(data)
	  				location.reload()
	  			},
	  			dataType: "json"
			});
			$("#buttons").css('visibility','hidden');
			$("#selected_student").css('visibility','hidden');
			
		})
})
	
</script>